<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<listeners>
		<!--<listener class-name="com.rrr.ExtentReports.MyExtentReportListener" />-->
		<listener class-name="com.rrr.util.ReRunFailedTests" />
	</listeners>


	<test thread-count="5" name="Test">
		<classes>
			<class name="com.rrr.tests.LandingPageTests" />
			<!-- <class name="com.rrr.tests.LoginPageTests" />
			<class name="com.rrr.tests.HomePageTests" />
			<class name="com.rrr.tests.ContactsPageTests" /> -->
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite -->
